.items .item .icon-place img[data-v-68866000] {
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
}

img[data-v-68866000] {
    max-width: 100%;
    border-style: none;
    box-sizing: border-box;
}
